<div id="container">
  <!-- <p>{{ variavelInterna }}</p> -->
  <!-- <strong (click)="metodo(campoParaCapturar.value)">{{ name }}</strong>
  <br /> -->

  <!-- <input type="text" [value]="variavelDupla" #campoParaCapturar /> -->

  <!-- {{ variavelDupla }} -->

  <!-- <p *ngIf="variavelInterna; then casoVerdade; else casoFalso">
    mostrando tag p -->
  <!-- if verdadeiro -->
  <!-- <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://ionicframework.com/docs/components"
      >UI Components</a
    >
  </p>

  <ng-template #casoVerdade>
    <div>usuario logado</div>
  </ng-template>

  <ng-template #casoFalso>
    <div>usuario deslogado</div>
  </ng-template> -->

  <!-- <br />
  {{ variavelArray }}

  <br /> -->

  <span
    *ngFor="let aluno of variavelArray; let index = index"
    class="ponto-slide"
    [class]="index === indice ? 'ativo' : 'nada'"
  >
    ㉥
  </span>

  <app-detalhamento-aluno [dado]="alunoSelecionado"></app-detalhamento-aluno>

  <span class="botao-slide" (click)="anterior()">←</span>
  <span class="botao-slide" (click)="proximo()">→</span>
</div>
