#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.botao-slide {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;

  border-radius: 1rem;
  border: white 0.125rem solid;
  box-shadow: white 0 0.25rem 0.25rem 0;
}

.ponto-slide {
  margin: 0.25rem;
}

.ativo {
  color: red;
  background: white;
}

app-detalhamento-aluno {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
