<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="span-negrito">Perfil</ion-title>

    <ion-buttons slot="end">
      <ion-button aria-label="Configuracões">
        <ion-icon
          name="cog"
          aria-hidden="true"
          class="icones-pequeno"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <i class="fa-solid fa-gear"></i> -->

  <div class="perfil-usuario">
    <img [src]="usuario.imagemUrl" alt="" />
    <span class="span-negrito">{{usuario.nome}}</span>
  </div>

  <!-- (ionChange)="trocaAreaSelecionada($event)" -->
  <ion-segment [(ngModel)]="areaSelecionada">
    <ion-segment-button value="conquistas">
      <ion-label class="span-negrito">Conquistas</ion-label>
    </ion-segment-button>

    <ion-segment-button value="amigos">
      <ion-label class="span-negrito">Amigos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <div [ngSwitch]="areaSelecionada"> -->
  <!-- <ion-list *ngSwitchCase="'conquistas'" inset="true" lines="none">
      <ion-item *ngFor="let questzinha of usuario.quests">
        <ion-label>{{ questzinha.nome }}</ion-label>
        <ion-label>{{ questzinha.objetivo }}</ion-label>
        <ion-label>{{ questzinha.cor }}</ion-label>
        <ion-label>{{ questzinha.inicial }}</ion-label>
        <ion-label>{{ questzinha.final }}</ion-label>
        <ion-label>{{ questzinha.finalizado }}</ion-label>
        <ion-label>{{ questzinha.imagemUrl }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'amigos'">
      <ion-item *ngFor="let amigo of usuario.amigos">
        <ion-label>{{ amigo.nome }}</ion-label>
        <ion-label>{{ amigo.imagemUrl }}</ion-label>
      </ion-item>
    </ion-list>
  </div> -->
</ion-content>
