<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="span-negrito">Perfil</ion-title>

    <ion-buttons slot="end">
      <ion-button aria-label="Configuracões">
        <ion-icon
          name="cog"
          aria-hidden="true"
          class="icones-pequeno"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <i class="fa-solid fa-gear"></i> -->

  <div class="perfil-usuario">
    <img [src]="usuario.imagemUrl" alt="" />
    <span class="span-negrito">{{usuario.nome}}</span>
  </div>

  <ion-segment value="default">
    <ion-segment-button value="conquistas">
      <ion-label>Conquistas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="amigos">
      <ion-label>Amigos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
